# Configuration file

"biome ids" {
    I:"Alps Forest ID"=275
    I:"Alps ID"=211
    I:"Arctic ID"=212
    I:"Bamboo Forest ID"=213
    I:"Bayou ID"=214
    I:"Bog ID"=215
    I:"Boneyard ID"=288
    I:"Boreal Forest ID"=216
    I:"Brushland ID"=217
    I:"Canyon ID"=218
    I:"Canyon Ravine ID"=276
    I:"Chaparral ID"=219
    I:"Cherry Blossom Grove ID"=220
    I:"Coniferous Forest ID"=221
    I:"Coral Reef ID"=270
    I:"Corrupted Sands ID"=286
    I:"Crag ID"=223
    I:"Dead Forest ID"=224
    I:"Dead Swamp ID"=225
    I:"Deciduous Forest ID"=226
    I:"Dense Forest ID"=227
    I:"Dry River ID"=294
    I:"Eucalyptus Forest ID"=228
    I:"Fen ID"=229
    I:"Flower Field ID"=230
    I:"Frost Forest ID"=231
    I:"Fungi Forest ID"=232
    I:"Garden ID"=233
    I:"Glacier ID"=277
    I:"Grassland ID"=234
    I:"Grove ID"=235
    I:"Heathland ID"=236
    I:"Highland ID"=237
    I:"Jade Cliffs ID"=238
    I:"Kelp Forest ID"=271
    I:"Land of Lakes ID"=239
    I:"Land of Lakes Marsh ID"=278
    I:"Lavender Fields ID"=240
    I:"Lush Desert ID"=241
    I:"Lush River ID"=293
    I:"Lush Swamp ID"=242
    I:"Mangrove ID"=274
    I:"Maple Woods ID"=243
    I:"Marsh ID"=244
    I:"Meadow Forest ID"=279
    I:"Meadow ID"=245
    I:"Moor ID"=246
    I:"Mountain ID"=247
    I:"Mystic Grove ID"=248
    I:"Oasis ID"=280
    I:"Ominous Woods ID"=249
    I:"Orchard ID"=250
    I:"Origin Valley ID"=251
    I:"Outback ID"=252
    I:"Phantasmagoric Inferno ID"=287
    I:"Polar Chasm ID"=291
    I:"Prairie ID"=253
    I:"Quagmire ID"=281
    I:"Rainforest ID"=254
    I:"Redwood Forest ID"=255
    I:"Sacred Springs ID"=256
    I:"Scrubland ID"=282
    I:"Seasonal Forest Clearing ID"=283
    I:"Seasonal Forest ID"=257
    I:"Shield ID"=258
    I:"Shrubland ID"=259
    I:"Silkglades ID"=284
    I:"Sludgepit ID"=260
    I:"Snowy Coniferous Forest ID"=222
    I:"Spectral Garden ID"=292
    I:"Spruce Woods ID"=285
    I:"Steppe ID"=261
    I:"Temperate Rainforest ID"=262
    I:"Thicket ID"=263
    I:"Tropical Rainforest ID"=264
    I:"Tropics ID"=272
    I:"Tundra ID"=265
    I:"Undergarden ID"=290
    I:"Visceral Heap ID"=289
    I:"Volcano ID"=273
    I:"Wasteland ID"=266
    I:"Wetland ID"=267
    I:"Woodland ID"=268
    I:"Xeric Shrubland ID"=269
}


"potion auto assign" {
    B:"Potion Auto Assign"=true
}


"potions ids" {
    I:"Paralysis Potion ID"=96
    I:"Possession Potion ID"=97
}


