# Configuration file

entitycaps {

    hostile {
        I:BiomesOPlenty.Glob=-1
        I:BiomesOPlenty.JungleSpider=-1
        I:BiomesOPlenty.Phantom=-1
        I:BiomesOPlenty.Wasp=-1
        I:Blaze=-1
        I:CaveSpider=-1
        I:Creeper=-1
        I:DRPGAcidHag=-1
        I:DRPGAlicanto=-1
        I:DRPGAncientEntity=-1
        I:DRPGAngryBunny=-1
        I:DRPGApalachiaCadillion=-1
        I:DRPGApalachiaGolem=-1
        I:DRPGApalachiaTomo=-1
        I:DRPGAridWarrior=-1
        I:DRPGAyeracoBlue=-1
        I:DRPGAyeracoGreen=-1
        I:DRPGAyeracoPurple=-1
        I:DRPGAyeracoRed=-1
        I:DRPGAyeracoYellow=-1
        I:DRPGBaslisk=-1
        I:DRPGBehemoth=-1
        I:DRPGBiphron=-1
        I:DRPGBohemite=-1
        I:DRPGCaveCrawler=-1
        I:DRPGCaveclops=-1
        I:DRPGCrab=-1
        I:DRPGCryptKeeper=-1
        I:DRPGCyclops=-1
        I:DRPGCymesoid=-1
        I:DRPGDeathHound=-1
        I:DRPGDeathcryx=-1
        I:DRPGDemonOfDarkness=-1
        I:DRPGDensos=-1
        I:DRPGDesertCrawler=-1
        I:DRPGDissiment=-1
        I:DRPGDramix=-1
        I:DRPGDreamwrecker=-1
        I:DRPGDungeonConstructor=-1
        I:DRPGDungeonDemon=-1
        I:DRPGDungeonPrisoner=-1
        I:DRPGDuo=-1
        I:DRPGEdenCadillion=-1
        I:DRPGEdenTomo=-1
        I:DRPGEnchantedArcher=-1
        I:DRPGEnchantedWarrior=-1
        I:DRPGEnderSpider=-1
        I:DRPGEnderTriplets=-1
        I:DRPGEnderWatcher=-1
        I:DRPGEnt=-1
        I:DRPGEnthralledDramcryx=-1
        I:DRPGEpiphite=-1
        I:DRPGEternalArcher=-1
        I:DRPGFractite=-1
        I:DRPGFrost=-1
        I:DRPGFrostArcher=-1
        I:DRPGFrosty=-1
        I:DRPGGalroid=-1
        I:DRPGGlacide=-1
        I:DRPGGlacon=-1
        I:DRPGGorgosion=-1
        I:DRPGGreenfeet=-1
        I:DRPGHastreus=-1
        I:DRPGHelio=-1
        I:DRPGHellSpider=-1
        I:DRPGHiveQueen=-1
        I:DRPGHiveSoldier=-1
        I:DRPGHoverstinger=-1
        I:DRPGJungleBat=-1
        I:DRPGJungleDramcryx=-1
        I:DRPGJungleSpider=-1
        I:DRPGKaros=-1
        I:DRPGKarot=-1
        I:DRPGKazrotic=-1
        I:DRPGKingCrab=-1
        I:DRPGKingOfScorchers=-1
        I:DRPGKobblin=-1
        I:DRPGLHeiva=-1
        I:DRPGLadyLuna=-1
        I:DRPGLiopleurodon=-1
        I:DRPGLivingStatue=-1
        I:DRPGLorga=-1
        I:DRPGLorgaFlight=-1
        I:DRPGMadivel=-1
        I:DRPGMage=-1
        I:DRPGMandragora=-1
        I:DRPGMegalith=-1
        I:DRPGMortumCadillion=-1
        I:DRPGMysteriousMan1=-1
        I:DRPGMysteriousMan2=-1
        I:DRPGMysteriousMan3=-1
        I:DRPGMystic=-1
        I:DRPGParasecta=-1
        I:DRPGPumpkinSpider=-1
        I:DRPGQuadro=-1
        I:DRPGRaglok=-1
        I:DRPGRainbour=-1
        I:DRPGRazorback=-1
        I:DRPGReyvor=-1
        I:DRPGRoamer=-1
        I:DRPGRollum=-1
        I:DRPGRotatick=-1
        I:DRPGSaguaroWorm=-1
        I:DRPGSamek=-1
        I:DRPGScorcher=-1
        I:DRPGShadahier=-1
        I:DRPGShark=-1
        I:DRPGSkythernArcher=-1
        I:DRPGSkythernCori=-1
        I:DRPGSkythernFiend=-1
        I:DRPGSkythernGolem=-1
        I:DRPGSorcerer=-1
        I:DRPGSoulFiend=-1
        I:DRPGSoulSpider=-1
        I:DRPGSoulStealer=-1
        I:DRPGSpellbinder=-1
        I:DRPGSunArcher=-1
        I:DRPGTempleGuardian=-1
        I:DRPGTheEye=-1
        I:DRPGTheGrue=-1
        I:DRPGTheWatcher=-1
        I:DRPGTocaxin=-1
        I:DRPGTwilightArcher=-1
        I:DRPGTwilightDemon=-1
        I:DRPGTwins=-1
        I:DRPGUndeadMiner=-1
        I:DRPGVamacheron=-1
        I:DRPGVerek=-1
        I:DRPGVermenous=-1
        I:DRPGVhraak=-1
        I:DRPGWeakCori=-1
        I:DRPGWhale=-1
        I:DRPGWildfire=-1
        I:DRPGWildwoodCadillion=-1
        I:DRPGWildwoodGolem=-1
        I:DRPGWildwoodTomo=-1
        I:DRPGWreck=-1
        I:DRPGZone=-1
        I:DRPGZoragon=-1
        I:EnderDragon=-1
        I:Enderman=-1
        I:Ghast=-1
        I:Giant=-1
        I:LavaSlime=-1
        I:MoCreatures.HorseMob=-1
        I:MoCreatures.MiniGolem=-1
        I:MoCreatures.Ogre=-1
        I:MoCreatures.Rat=-1
        I:MoCreatures.SilverSkeleton=-1
        I:Monster=-1
        I:PigZombie=-1
        I:Silverfish=-1
        I:Skeleton=-1
        I:Slime=-1
        I:Spider=-1
        I:TConstruct.EdibleSlime=-1
        I:Thaumcraft.Pech=-1
        I:Witch=-1
        I:WitherBoss=-1
        I:Zombie=-1
        I:etfuturum.endermite=-1
        I:etfuturum.husk=-1
        I:etfuturum.shulker=-1
        I:etfuturum.stray=-1
        I:etfuturum.villager_zombie=-1
        I:minero=-1
        I:primitivemobs.BabySpider=-1
        I:primitivemobs.BewitchedTome=-1
        I:primitivemobs.BlazingJuggernaut=-1
        I:primitivemobs.BrainSlime=-1
        I:primitivemobs.FestiveCreeper=-1
        I:primitivemobs.HauntedTool=-1
        I:primitivemobs.MimicChest=-1
        I:primitivemobs.MotherSpider=-1
        I:primitivemobs.RocketCreeper=-1
        I:primitivemobs.SkeletonWarrior=-1
        I:primitivemobs.Summoner=-1
        I:primitivemobs.SupportCreeper=-1
        I:primitivemobs.TreasureSlime=-1
        I:witchery.babayaga=-1
        I:witchery.banshee=-1
        I:witchery.death=-1
        I:witchery.ent=-1
        I:witchery.goblingulg=-1
        I:witchery.goblinmog=-1
        I:witchery.hellhound=-1
        I:witchery.hornedHuntsman=-1
        I:witchery.imp=-1
        I:witchery.leonard=-1
        I:witchery.lilith=-1
        I:witchery.lordoftorment=-1
        I:witchery.mandrake=-1
        I:witchery.nightmare=-1
        I:witchery.poltergeist=-1
        I:witchery.reflection=-1
        I:witchery.spectre=-1
        I:witchery.treefyd=-1
        I:witchery.wolfman=-1
        I:"wizardry.Evil Wizard"=-1
    }

    item {
        I:Item=-1
    }

    other {
        I:Arrow=-1
        I:Boat=-1
        I:EnderCrystal=-1
        I:EyeOfEnderSignal=-1
        I:FallingSand=-1
        I:Fireball=-1
        I:FireworksRocketEntity=-1
        I:ItemFrame=-1
        I:LeashKnot=-1
        I:MinecartChest=-1
        I:MinecartCommandBlock=-1
        I:MinecartFurnace=-1
        I:MinecartHopper=-1
        I:MinecartRideable=-1
        I:MinecartSpawner=-1
        I:MinecartTNT=-1
        I:Mob=-1
        I:Painting=-1
        I:PrimedTnt=-1
        I:SmallFireball=-1
        I:Snowball=-1
        I:ThrownEnderpearl=-1
        I:ThrownExpBottle=-1
        I:ThrownPotion=-1
        I:WitherSkull=-1
        I:XPOrb=150
        I:ZAMod.EntityScent=-1
        I:mowziesmobs.FerrousWroughtnaut=-1
        I:mowziesmobs.Foliaath=-1
        I:mowziesmobs.TribesmanElite=-1
        I:mowziesmobs.TribesmanHunter=-1
        I:mushgloom=-1
        I:primitivemobs.Ball=-1
        I:primitivemobs.Lily=-1
        I:primitivemobs.LilyLurker=-1
        I:primitivemobs.Minion=-1
        I:primitivemobs.SpawnEgg=-1
        I:witchery.vampire=-1
        I:witchery.villageguard=-1
        I:witchery.witchhunter=-1
    }

    passive {
        I:Bat=-1
        I:BiomesOPlenty.Bird=-1
        I:BiomesOPlenty.Pixie=-1
        I:BiomesOPlenty.Rosester=-1
        I:Chicken=-1
        I:Cow=-1
        I:DRPGBunny=-1
        I:DRPGCaptainMerik=-1
        I:DRPGDatticon=-1
        I:DRPGEhu=-1
        I:DRPGFyracryx=-1
        I:DRPGGolemOfRejuv=-1
        I:DRPGGrizzle=-1
        I:DRPGHellPig=-1
        I:DRPGHusk=-1
        I:DRPGJackOMan=-1
        I:DRPGLeorna=-1
        I:DRPGLivestockMerchant=-1
        I:DRPGLordVatticus=-1
        I:DRPGMoonWolf=-1
        I:DRPGParatiku=-1
        I:DRPGSeimer=-1
        I:DRPGSmelter=-1
        I:DRPGSnapper=-1
        I:DRPGStoneGolem=-1
        I:DRPGTheHunger=-1
        I:DRPGWarGeneral=-1
        I:DRPGWorkshopMerchant=-1
        I:DRPGWorkshopTinkerer=-1
        I:DRPGWraith=-1
        I:DRPGZelus=-1
        I:EntityHorse=-1
        I:Guardian=-1
        I:MoCreatures.Ant=-1
        I:MoCreatures.Bear=-1
        I:MoCreatures.Bee=-1
        I:MoCreatures.Bird=-1
        I:MoCreatures.Boar=-1
        I:MoCreatures.Bunny=-1
        I:MoCreatures.Butterfly=-1
        I:MoCreatures.Cricket=-1
        I:MoCreatures.Crocodile=-1
        I:MoCreatures.Deer=-1
        I:MoCreatures.Dolphin=-1
        I:MoCreatures.Dragonfly=-1
        I:MoCreatures.Duck=-1
        I:MoCreatures.Firefly=-1
        I:MoCreatures.Fishy=-1
        I:MoCreatures.Fly=-1
        I:MoCreatures.Fox=-1
        I:MoCreatures.Horse=-1
        I:MoCreatures.JellyFish=-1
        I:MoCreatures.Kitty=-1
        I:MoCreatures.KomodoDragon=-1
        I:MoCreatures.Maggot=-1
        I:MoCreatures.MediumFish=-1
        I:MoCreatures.Mole=-1
        I:MoCreatures.Mouse=-1
        I:MoCreatures.Piranha=-1
        I:MoCreatures.Raccoon=-1
        I:MoCreatures.Ray=-1
        I:MoCreatures.Roach=-1
        I:MoCreatures.Shark=-1
        I:MoCreatures.SmallFish=-1
        I:MoCreatures.Snail=-1
        I:MoCreatures.Snake=-1
        I:MoCreatures.Turkey=-1
        I:MoCreatures.Turtle=-1
        I:MushroomCow=-1
        I:Ozelot=-1
        I:Pig=-1
        I:Sheep=-1
        I:SnowMan=-1
        I:Squid=-1
        I:Villager=-1
        I:VillagerGolem=-1
        I:Wolf=-1
        I:aquacreeper.aquaCreeper=-1
        I:etfuturum.bee=-1
        I:etfuturum.rabbit=-1
        I:jaff.FishClown=-1
        I:jaff.FishCod=-1
        I:jaff.FishSalmon=-1
        I:oWL=-1
        I:primitivemobs.Chameleon=-1
        I:primitivemobs.LostMiner=-1
        I:primitivemobs.Sheepman=-1
        I:primitivemobs.SheepmanSmith=-1
        I:primitivemobs.TravelingMerchant=-1
        I:puerco=-1
        I:witchery.covenwitch=-1
        I:witchery.demon=-1
        I:witchery.goblin=-1
        I:witchery.lostsoul=-1
        I:witchery.mindrake=-1
        I:witchery.owl=-1
        I:witchery.spirit=-1
        I:witchery.toad=-1
        I:witchery.werevillager=-1
        I:witchery.wingedmonkey=-1
        I:wolfarmor.Wolf=-1
    }

}


general {
    # Master toggle for entity capping. [default: true]
    B:enabled=true

    # Entity names that are never culled, regardless of caps. [default: ]
    S:excludedNames <
     >

    # Never cull built golems (iron/snow golems and modded EntityGolem types). [default: true]
    B:exemptGolems=true

    # Never cull entities with a custom name tag. [default: true]
    B:exemptNamed=true

    # Never cull tamed/owned pets (wolves, cats, horses). [default: true]
    B:exemptTamed=true

    # Never cull villagers. [default: true]
    B:exemptVillagers=true

    # Extra entity names to treat as hostile (for mobs not detected automatically). [default: ]
    S:extraHostileNames <
     >

    # Extra entity names to treat as passive (for mobs not detected automatically). [default: ]
    S:extraPassiveNames <
     >

    # Max hostile mobs per dimension. -1 = unlimited. [range: -1 ~ 1000000, default: -1]
    I:hostileCap=800

    # Max dropped items per dimension. -1 = unlimited. [range: -1 ~ 1000000, default: -1]
    I:itemCap=1500

    # Max passive mobs per dimension. -1 = unlimited. [range: -1 ~ 1000000, default: -1]
    I:passiveCap=800

    # Ticks between cap scans (20 ticks = 1 second). Higher = cheaper, less responsive. [range: 1 ~ 72000, default: 100]
    I:scanIntervalTicks=100
}


