# Configuration file

client {
    # horizontal position of the ceremony HUD (offset from center of the screen)
    I:ceremonyHudPositionX=0

    # vertical position of the ceremony HUD (offset from center of the screen)
    I:ceremonyHudPositionY=-70
}


general {
    # List of entity IDs which can be converted to Buffalos by the Buffalo Dance
    S:buffaloDanceTargets <
        Cow
        MushroomCow
     >

    # List of entity IDs which can be converted to Bald Eagles by the Eagle Dance
    S:eagleDanceTargets <
        Chicken
     >
}


potions {
    I:batPotionID=44
    I:ocelotPotionID=45
    I:spiderPotionID=46
}


